output/FIF_CORP_OSB_Tarjeta_Configuracion_Cambiar_ori.wsdl

<wsdl:definitions 
	name="FIF_CORP_OSB_Tarjeta_Configuracion_Cambiar.wsdl" 
	targetNamespace="http://mdwcorp.falabella.com/FIF/CORP/OSB/wsdl/Tarjeta/Configuracion/Cambiar-v1.0" 
	xmlns:tns="http://mdwcorp.falabella.com/FIF/CORP/OSB/wsdl/Tarjeta/Configuracion/Cambiar-v1.0" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:cs="http://mdwcorp.falabella.com/common/schema/clientservice" 
	xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" 
	xmlns:req="http://mdwcorp.falabella.com/FIF/CORP/OSB/schema/Tarjeta/Configuracion/Cambiar/Req-v2016.04" 
	xmlns:resp="http://mdwcorp.falabella.com/FIF/CORP/OSB/schema/Tarjeta/Configuracion/Cambiar/Resp-v2016.04">

	<wsdl:types>
		<xs:schema>
			<xs:import schemaLocation="../../../UT_EsquemasComunes_V.2.0/Specifications/XSD/Common/MdwCorp_Common_clientService.xsd" namespace="http://mdwcorp.falabella.com/common/schema/clientservice"/>
			<xs:import schemaLocation="../../../UT_EsquemasComunes_V.2.0/Specifications/XSD/Common/MdwCorp_Common_soapFault.xsd" namespace="http://schemas.xmlsoap.org/soap/envelope/"/>
			<xs:import schemaLocation="../../Resources/Schemas/FIF_CORP_OSB_Tarjeta_Configuracion_CambiarReq.xsd" namespace="http://mdwcorp.falabella.com/FIF/CORP/OSB/schema/Tarjeta/Configuracion/Cambiar/Req-v2016.04"/>
			<xs:import schemaLocation="../../Resources/Schemas/FIF_CORP_OSB_Tarjeta_Configuracion_CambiarResp.xsd" namespace="http://mdwcorp.falabella.com/FIF/CORP/OSB/schema/Tarjeta/Configuracion/Cambiar/Resp-v2016.04"/>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="TarjetaConfiguracionCambiarMsgReq">
		<wsdl:part name="TarjetaConfiguracionCambiarReqParam" element="req:TarjetaConfiguracionCambiarMsgReq"/>
	</wsdl:message>
	<wsdl:message name="TarjetaConfiguracionCambiarMsgResp">
		<wsdl:part name="TarjetaConfiguracionCambiarRespParam" element="resp:TarjetaConfiguracionCambiarMsgResp"/>
	</wsdl:message>

	<wsdl:message name="FaultMsg">
		<wsdl:part name="FaultParam" element="env:Fault"/>
	</wsdl:message>
	<wsdl:message name="ClientServiceMsg">
		<wsdl:part name="ClientServiceParam" element="cs:ClientService"/>
	</wsdl:message>

	<wsdl:portType name="TarjetaConfiguracionCambiarPt">
		<wsdl:operation name="TarjetaConfiguracionCambiarOp">
			<wsdl:input message="tns:TarjetaConfiguracionCambiarMsgReq"/>
			<wsdl:output message="tns:TarjetaConfiguracionCambiarMsgResp"/>
			<wsdl:fault name="Fault" message="tns:FaultMsg"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="TarjetaConfiguracionCambiarBinding" type="tns:TarjetaConfiguracionCambiarPt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="TarjetaConfiguracionCambiarOp">
			<soap:operation soapAction="http://mdwcorp.falabella.com/FIF/CORP/OSB/wsdl/Tarjeta/Configuracion/Cambiar-v1.0/Op"/>
			<wsdl:input>
				<soap:header message="tns:ClientServiceMsg" part="ClientServiceParam" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="TarjetaConfiguracionCambiarService">
		<wsdl:port name="TarjetaConfiguracionCambiarPort" binding="tns:TarjetaConfiguracionCambiarBinding">
			<soap:address location="http://localhost"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>